footer {
  position: absolute;
  bottom: 0;

  margin: 0 auto;
  width: 100vw;
  height: 10vh;

  @include flex(false, true, true);

  div {
    display: flex;
    justify-content: space-between;
    width: 400px;
  }

  a:hover {
    text-decoration: underline;
  }

  a,
  span {
    text-decoration: none;
    color: #000;
    text-shadow: 3px 2px 3px rgba(255, 255, 255, .2);
  }
}